language: node_js
node_js:
- '7'
after_success:
- npm run coverage
- npm run mocha:json
- bash <(curl -s https://codecov.io/bash)
- bash <(curl -s https://codecov.octoblu.com/bash)
notifications:
  webhooks:
  - https://beekeeper.octoblu.com/webhooks/travis:ci
