.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.messageInput {
  width: 50%;
  margin: 0px 0px 0px 0px;
}


.messageConsole {
  width: 50%;
  margin: 0px 0px 0px 0px;
}
