.root {
  width: 210px;
  margin-left: 24px;
}

.filters {
  padding-top: 8px;
}

.filter {
  display: block;
  width: 100%;
  text-align: left;
  border-left: 2px solid transparent;
  background: transparent;
  color: #485264;
  border-radius: 2px;
  padding: 0.6em 1em;
  font-size: 15px;
  font-family: "citrixsans-regular", Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition-delay: 0;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  transition-property: background, border-color;
}

.filter:hover {
  border-color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.05);
  color: #485264;
}

.activeFilter {
  border-color: #14568F;
  color: #14568F;
}
